In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

from time import sleep
from random import randint

In [2]:
titles = []
years = []
time = []
imdb_ratings = []
metascores = []
votes = []
us_gross = []

In [3]:
headers = {"Accept-Language": "en-US, en;q=0.5"}

In [4]:
pages = np.arange(1, 1001, 50)

In [5]:
for page in pages: 
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&start=" + str(page) + "&ref_=adv_nxt", headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    sleep(randint(2,10))
    for container in movie_div:
        name = container.h3.a.text
        titles.append(name)
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
        runtime = container.p.find('span', class_='runtime') if container.p.find('span', class_='runtime') else ''
        time.append(runtime)
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        m_score = container.find('span', class_='metascore').text if container.find('span', class_='metascore') else ''
        metascores.append(m_score)
        nv = container.find_all('span', attrs={'name': 'nv'})
        vote = nv[0].text
        votes.append(vote)
        grosses = nv[1].text if len(nv) > 1 else ''
        us_gross.append(grosses)
movies = pd.DataFrame({
'movie': titles,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'us_grossMillions': us_gross,
'timeMin': time
})

In [6]:
movies.head()

,movie,year,imdb,metascore,votes,us_grossMillions,timeMin
0,The Gentlemen,(2019),8.0,51,"73,793",,"<span class=""runtime"">113 min</span>"
1,Knives Out,(2019),8.0,82,"248,809",$165.36M,"<span class=""runtime"">131 min</span>"
2,1917,(2019),8.4,78,"255,368",$159.18M,"<span class=""runtime"">119 min</span>"
3,Parasite,(2019),8.6,96,"339,294",$53.37M,"<span class=""runtime"">132 min</span>"
4,Once Upon a Time... in Hollywood,(2019),7.7,83,"421,918",$142.50M,"<span class=""runtime"">161 min</span>"

In [7]:
movies['votes'] = movies['votes'].str.replace(',', '').astype(int)

movies.loc[:, 'year'] = movies['year'].str[-5:-1].astype(int)

movies['timeMin'] = movies['timeMin'].astype(str)
movies['timeMin'] = movies['timeMin'].str.extract('(\d+)').astype(int)

movies['metascore'] = movies['metascore'].str.extract('(\d+)')
movies['metascore'] = pd.to_numeric(movies['metascore'], errors='coerce')

movies['us_grossMillions'] = movies['us_grossMillions'].map(lambda x: x.lstrip('$').rstrip('M'))
movies['us_grossMillions'] = pd.to_numeric(movies['us_grossMillions'], errors='coerce')

In [8]:
print(movies)

# to see the datatypes of your columns
print(movies.dtypes)

# to see where you're missing data and how much data is missing
print(movies.isnull().sum())

                                                 movie  year  imdb  metascore  \
0                                        The Gentlemen  2019   8.0       51.0
1                                           Knives Out  2019   8.0       82.0
2                                                 1917  2019   8.4       78.0
3                                             Parasite  2019   8.6       96.0
4                     Once Upon a Time... in Hollywood  2019   7.7       83.0
5                                           Uncut Gems  2019   7.5       90.0
6                                          Jojo Rabbit  2019   8.0       58.0
7                                                Joker  2019   8.5       59.0
8                                       Ford v Ferrari  2019   8.1       81.0
9                                         Little Women  2019   8.0       91.0
10                            The Shawshank Redemption  1994   9.3       80.0
11                                   Avengers: Endgame  2019   8.4       78.0
12                                        The Irishman  2019   7.9       94.0
13                                       The Godfather  1972   9.2      100.0
14               Harry Potter and the Sorcerer's Stone  2001   7.6       64.0
15                                           Inception  2010   8.8       74.0
16                                      The Lighthouse  2019   7.7       83.0
17                                         Toy Story 4  2019   7.8       84.0
18                                   Blade Runner 2049  2017   8.0       81.0
19                                     The Dark Knight  2008   9.0       84.0
20                                        Pulp Fiction  1994   8.9       94.0
21   The Lord of the Rings: The Fellowship of the Ring  2001   8.8       92.0
22                                        Interstellar  2014   8.6       74.0
23                                    28 Days Later...  2002   7.6       73.0
24                                          Green Book  2018   8.2       69.0
25                                      Marriage Story  2019   8.0       93.0
26                                          Goodfellas  1990   8.7       90.0
27                                          12 Monkeys  1995   8.0       74.0
28                                        Forrest Gump  1994   8.8       82.0
29                                          Fight Club  1999   8.8       66.0
..                                                 ...   ...   ...        ...
970                                     Chak de! India  2007   8.2       68.0
971                          Knockin' on Heaven's Door  1997   8.0        NaN
972                                       Sherlock Jr.  1924   8.2        NaN
973                                               Evil  2003   7.8       61.0
974                                         The Killer  1989   7.8       82.0
975                              The Rules of the Game  1939   8.0        NaN
976                                         Jab We Met  2007   7.9        NaN
977                                        Vicky Donor  2012   7.8        NaN
978                                    Central Station  1998   8.0       80.0
979                                 The Edge of Heaven  2007   7.8       85.0
980                                              Dev.D  2009   8.0        NaN
981                                        Joyeux Noel  2005   7.7       70.0
982                                 La Grande Illusion  1937   8.1        NaN
983                                         Special 26  2013   8.0        NaN
984                                    OMG: Oh My God!  2012   8.1        NaN
985                                   English Vinglish  2012   7.8        NaN
986                              The Magdalene Sisters  2002   7.7       83.0
987                                           Drishyam  2013   8.4        NaN
988                               A Night at the Opera  1935   7.9        NaN
989                               Lage Raho Munna Bhai  2006   8.1        NaN
990                                         C.R.A.Z.Y.  2005   7.9       81.0
991                         The Shop Around the Corner  1940   8.1        NaN
992                                              Udaan  2010   8.1        NaN
993                         The Muppet Christmas Carol  1992   7.7       64.0
994                                 Bhaag Milkha Bhaag  2013   8.2        NaN
995                                          Vizontele  2001   8.0        NaN
996                                              Boy A  2007   7.6       75.0
997                                   Paan Singh Tomar  2012   8.2        NaN
998         And Now for Something Completely Different  1971   7.6        NaN
999                                         The Breath  2009   8.0        NaN

       votes  us_grossMillions  timeMin
0      73793               NaN      113
1     248809            165.36      131
2     255368            159.18      119
3     339294             53.37      132
4     421918            142.50      161
5     137192               NaN      135
6     178507              0.35      108
7     733182            335.45      122
8     183266            117.62      152
9      83016            108.05      135
10   2208588             28.34      142
11    686782            858.37      181
12    266332               NaN      209
13   1521273            134.97      175
14    599559            317.58      152
15   1936960            292.58      148
16     88002              0.43      109
17    168510            434.04      100
18    420127             92.05      164
19   2187841            534.86      152
20   1734544            107.93      154
21   1580249            315.54      178
22   1389757            188.02      169
23    360431             45.06      113
24    303719             85.08      130
25    195796               NaN      137
26    961563             46.84      146
27    557008             57.14      129
28   1704486            330.25      142
29   1762780             37.03      139
..       ...               ...      ...
970    69695              1.11      153
971    26211              0.00       87
972    36870              0.98       45
973    34541              0.02      113
974    44245               NaN      111
975    25281               NaN      110
976    44536              0.41      138
977    37354              0.17      126
978    34169              5.60      110
979    29643              0.74      122
980    27181              0.01      144
981    26686              1.05      116
982    32254              0.17      113
983    47611              1.08      144
984    47452              0.92      125
985    31664              1.67      134
986    25201              4.89      114
987    28557               NaN      160
988    29443               NaN       96
989    40403              2.22      144
990    30722               NaN      127
991    25939              0.20       99
992    40222              0.01      134
993    45756             27.28       85
994    57322              1.63      186
995    30720               NaN      110
996    36163              0.11      102
997    30449              0.04      135
998    27981               NaN       88
999    30555               NaN      128

[1000 rows x 7 columns]
movie                object
year                  int32
imdb                float64
metascore           float64
votes                 int32
us_grossMillions    float64
timeMin               int32
dtype: object
movie                 0
year                  0
imdb                  0
metascore           166
votes                 0
us_grossMillions    156
timeMin               0
dtype: int64